<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:method="post" th:action="@{/login-proc}">
    <input th:type="hidden" th:value="secret" name="secretKey">
    <input type="text" name="username" placeholder="username" required="required" autofocus="autofocus">
    <input type="password" name="password" placeholder="password" required="required">
    <button type="submit">Sign In</button>
    <div th:if="${param.isException}">
        <span th:text="${message}"></span>
    </div>
</form>

</body>
</html>